<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LP Template 0001-2 &#124; DTI Trader</title>

    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/dti/css/lp_0001.css">
</head>
<body>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-9 text-center">
                    <figure class="pt-5 pb-3">
                        <img src="../../../assets/dti/images/lp_0001_AIP.png" alt="">
                    </figure>
                    <h3 class="text-white mb-3"><strong>World Premiere: <br class="d-none d-md-block" />Thursday, October 8, 2020 at 1 pm.</strong></h3>
                    <p class="text-white">Legendary trader, hedge fund manager, and bestselling author is going to show you
                        how to collect up to $10,400 in extra income every month... for life.</p>
                    <p class="text-white pb-3">Today’s your chance to secure your place!</p>
                    <img src="../../../assets/dti/images/lp_0001_img1.png" alt="" class="img-fluid w-75">
                    <form action="./" method="post" class="text-center mx-auto pt-4 mt-2">
                        <h4 class="text-white"><strong>Enter Your Email Address Below to Reserve Your Spot!</strong></h4>
                        <div class="form-group input-group-lg">
                            <input class="form-control text-center" type="email" name="email" id="email" placeholder="Email*">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg"><strong>I WANT TO LEARN HOW I COULD COLLECT UP TO $10,400 PER MONTH</strong></button>
                        <p class="privacy-policy-text text-white"><small>By registering you are agreeing to our <a href="#" class="privacy-policy-link text-white">Privacy Policy</a></small></p>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="../../../node_modules/jquery/jquery.min.js"></script>
    <script src="../../../node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>