html,body{
    height: 100vh;
    width: 100%;
}
main{
    height: 100%;
    padding: 15px;
    width: 100%;
}
main > .container-fluid, main > .container-fluid > .row{
    height: 100%;
}
.item{
    align-items: center;
    background-color: wheat;
    border: 2px solid #ccc;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 80px;
    justify-content: center;
    width: 80px;
}
#elements-content-gsweb{
    border: 1px solid #ccc;
    height: 100%;
}
#elements-content-gsweb.hold{
    border: 2px solid #333;
}
#elements-content-gsweb.hovered{
    background-color: #f9f9f9;
    border-style: dashed;
}