* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100%;
}

main {
  height: 100%;
  padding: 15px;
  width: 100%;
}

main>.container-fluid {
  height: 100%;
}

main>.container-fluid>.row {
  height: 100%;
}

main .elements {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

main .elements .item {
  align-items: center;
  background-color: wheat;
  border: 2px solid #ccc;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  height: 60px;
  justify-content: center;
  margin-top: 8px;
  width: 80px;
}

main .elements .item i {
  font-size: 20px;
}

main .elements .item:hover {
  border-color: brown;
}

main #elements-content-gsweb {
  border: 1px solid #ccc;
  height: 100%;
  padding: 20px;
}

main #elements-content-gsweb * {
  position: relative;
}

main #elements-content-gsweb.hold {
  border: 2px solid #333;
}

main #elements-content-gsweb.hovered {
  background-color: #f9f9f9;
  border-style: dashed;
}

main #elements-content-gsweb .item-hovered {
  border: 1px solid teal;
}

main #elements-content-gsweb .tools-gsweb {
  position: absolute;
  top: 0;
  right: -1px;
  padding: 0 10px;
  color: white;
  background: teal;
}

main #elements-content-gsweb .tools-gsweb>i {
  cursor: pointer;
  margin-right: 5px;
}

main #elements-content-gsweb .tools-gsweb>i:last-of-type {
  margin-right: 0;
}